.button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.8rem;
  height: 0.95rem;
  text-align: center;
  background-size: 100% 100%;
  font-size: 0.34rem;
  font-weight: bold;
}
.bg-disabled{
  background-image: url("../../img/bg_button.png");
}
.bg-active{
  color: white;
  background-image: url("../../img/bg_button_active.png");
}